.gallery {
    width: 1000px;
    margin: 0 auto;
}

.galleryWrapper {
    position: relative;
    display: grid;
    grid-row-gap: 30px;
}

.mainImageWrapper img {
    width: 100%;
    height: 510px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.previewImagesWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    -webkit-overflow-scrolling: touch;
    /* transition: all 1s ease-in-out; */
}

.previewImageContainer img {
    width: 133px;
    height: 88px;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.prevSlideButton,
.nextSlideButton {
    position: absolute;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
}

.prevSlideButton {
    top: 84.5%;
    left: 0;
    background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 1));
}

.prevSlideButton img{
    transform: rotate(-180deg)
}

.prevSlideButton img, 
.nextSlideButton img{
    width: 40px;
    height: 88px;
    opacity: 0.9;
}

.nextSlideButton {
    top: 84.5%;
    right: 0;
    background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 1));
}